
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books and Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> <!--Bootstrap css-->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <h1>Add a Author</h1>
                <form action="/add_author" method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="title_id" class="form_label">First Name:</label>
                        <input type="text" class="form-control" id="title_id" name="first_name">
                    </div>

                    <div class="mb-3">
                        <label for="descr_id" class="form_label">Last Name:</label>
                        <input type="text" class="form-control" id="descr_id" name="last_name">
                    </div>

                    <div class="mb-3">
                        <label for="descr_id" class="form_label">Notes:</label>
                        <input type="text" class="form-control" id="descr_id" name="notes">
                    </div>

                    <button type="submit" class="btn btn-primary">Add Author</button>

                </form>
            </div>

            <div class="col-7">
                <h1> Authors registry </h1>

                <div class="container mt-3">
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                        {% for author in authors %}
                        <tr>
                            <td>{{author.id}}</td>
                            <td>{{author.first_name}} {{author.last_name}}</td>
                            <td><a href="/author_info/{{author.id}}">View</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>  <!--Bootstrap js-->
</body>
</html>