
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Info</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> <!--Bootstrap css-->
</head>

<body>
    <div class="container">
        <h1>{{authors.first_name}} {{authors.last_name}}</h5>
        <h5>ID: {{authors.id}}</h5>
        <h5>Description: {{authors.notes}}</h5>
        <h5>Books: </h5>
        
        <ul>
            {% for book in books %}
            <li>{{book.title}}</li>   
            {% endfor %} 
        </ul>
    </div>
    <hr>

    <form action="{{authors.id}}/append_books" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <select class="form-select" name="select_book">
                <option selected value>--Select a Book--</option>
                {% for book in all_books %}
                <option value="{{book.id}}">{{book.title}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>        
    </form>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>  <!--Bootstrap js-->
</body>
</html>
